.titlebar {
  height: 30px;
  background: rgba(0,0,0,0);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 4px;
}
.titlebar-button:hover {
  background: #22c55e;
  border-radius: 60%;
}